<!DOCTYPE html>
<html ng-app="listaTarefas">
<head>
	<meta charset=utf-8 />
	<title>Lista de Tarefas</title>
	<script type="text/javascript" src="angular.js">
	</script>
	<script type="text/javascript" src="app.js">
	</script>
	<link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
</head>
<body ng-controller="TarefasController as tarefasCtrl">
  <form name="formNovaTarefa" id="formNovaTarefa"
	 			ng-submit="adicionarTarefa(tarefa)" >

      <input type="text" name="descricao" value="" id="descricao"
			 placeholder="Nova Tarefa" ng-model="tarefa.descricao" />
      <input type="submit" value="Criar" />
  </form>

  <section id="tarefas">
    <ul id="lista_tarefas"
		ng-show="tarefas">
			<li ng-repeat="tarefa in tarefas">
				<label id="label_tarefa_{{tarefa.id}}" for="tarefa_{{tarefa.id}}"
					ng-class="{feita: tarefa.feita}">
					<input id="tarefa_{{tarefa.id}}"
						type="checkbox"
						name="tarefa_{{tarefa.id}}"
						value={{tarefa.feita}}
						ng-true-value="1"
						ng-false-value="0"
						ng-model="tarefa.feita" />
					{{tarefa.descricao}}
				</label>
			</li>
    </ul>
  </section>
</body>
</html>
